.words {
    -webkit-tap-highlight-color: transparent;
    width:100%;
    user-select: none;
    input {
        width: 4em;
    }
    table {    
        width:100%;
        border-collapse: collapse;
        th, td {
            padding:0.5em;
        }
    }

    thead {
        text-align: left;
        border-bottom: 2px solid #aaa;
        button {
            // display: block;
            box-sizing: content-box;
            border: none;
            background-color: inherit;
            color: inherit;
            font-size: 1em;
            line-height: 1em;
        }
    }
    tbody {
        tr {
            &.first {
                border-top: 2px dotted #aaa;
            }
            td {
                &:first-child:active {
                    background-color: #ddd;
                }
                &.mean {
                    opacity: 0;
                    &:active {
                        // box-shadow: 0 0 5px 0 #aaa;
                        opacity: 1;
                    }
                }
                &.checked {
                    color: green;
                }
                &.passed {
                    color: transparent;
                }
                img {
                    box-sizing: content-box;
                    width:1.2em;
                    height:1.2em;
                }
            }
        }

        button {
            display: block;
            box-sizing: content-box;
            border: none;
            background-color: inherit;
            color: inherit;
            width: 1em;
            height: 1em;
            line-height: 1em;
            // border: 2px solid transparent;
            border-radius: 0.5em;
            &:active {
                // box-shadow: 0 0 5px 0 #aaa inset;
                // border: 2px solid #aaa; 
            }
        }
    
    }
}