html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color:inherit;
    user-select: none;
}

label {
    user-select: none;
}

input {
    box-sizing: content-box;
    font-size: inherit;
}

#root {
    width: 100%;
    height: 100%;
}