header {
    position: sticky;
    top:0;
    display:flex;
    border-bottom: 2px solid #aaa;
    z-index: 400;
    input {
        width: 2em;
        border: 1px solid #aaa;
        margin-left: 2px;
        outline: none;
    }
    button {
        font-size: 12px;
    }
    background-color: #fff;
}