table {
    width: 100%;
    border-spacing: 0;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;

    th {
        border-top: 2px solid #aaa;
        border-bottom: 2px solid #aaa;
        border-right: 2px solid #aaa;
    }
    // tr:nth-child(10n - 5) td {
    //     border-bottom: 2px dotted #aaa;
    // }
    // tr:nth-child(10n) td {
    //     border-bottom: 2px solid #aaa;
    // }
    tr.first td {
        border-top: 2px solid #aaa;
    }
    td {
        border-right: 2px solid #aaa;
    }

    .selected {
        background-color: cyan;
    }

    .index, .word {
        width: 1%;
        padding: 0 0.5em;
        white-space: nowrap;
        &.checked {
            color: green;
        }
        &.passed {
            color: rgba(0,0,0,0);
        }
    }
    .word {
        user-select: text;
        -webkit-user-select : text;
    }
    .blind {
        color: rgba(0,0,0,0);
        &:active {
            color: inherit;
        }
    }
}